h1{ 
  color: rgb(25, 0, 255); 
  font-size: 100px; 
  text-align: center; 
  background-image: url("title.png"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 80px 0; 
}

a.city {
  display: inline-block;
  width: 300px;
  height: 200px;
  background-image: url("city.png");
  background-size: cover;
  background-position: center;
  color: rgb(234, 112, 169);
  font-size: 40px;
  text-align: center;
  line-height: 200px;
  text-decoration: none;
  border-radius: 15px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
}


a.home {
  display: inline-block;
  width: 300px;
  height: 200px;
  background-image: url("home.png");
  background-size: cover;
  background-position: center;
  color: rgb(137, 112, 234);
  font-size: 40px;
  text-align: center;
  line-height: 200px;
  text-decoration: none;
  border-radius: 15px;
  position: absolute;
  top: 75%;
  left: 20%;
  transform: translate(-30%, -75%);
}

a.device {
  display: inline-block;
  width: 300px;
  height: 200px;
  background-image: url("device.png");
  background-size: cover;
  background-position: center;
  color: rgb(112, 234, 112);
  font-size: 40px;
  text-align: center;
  line-height: 200px;
  text-decoration: none;
  border-radius: 15px;
  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-70%, -75%);
}
